<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TakeNote - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/pico.violet.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
    <header>
      <div class="container">
        <nav>
	  <ul>
	    <strong>TakeNote</strong>
	  </ul>
          <ul>
	    <li>
	      <a class="contrast" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
              <a class="contrast" asp-area="" asp-controller="Notes" asp-action="Index">Notes</a>
            </li>
            <li>
	      <a class="contrast" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main role="main" class="container">
	@RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TakeNote - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
