@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TakeNote!</h1>
    <p>A web app where you can write and save your notes!</p>
    <p>If you want to create a note simply <a asp-controller="Notes" asp-action="Create">click here!</a></p>
</div>
