@{
    ViewData["Title"] = "Notes";
}

@model TakeNote.Models.Note

<h1>Create/Edit a Note</h1>

<form asp-controller="Notes" asp-action="NoteForm" method="post">
  <fieldset>
    <label>
      Id
      <input type="number" placeholder="0" asp-for="Id">
    </label>
    <label>
      Title
      <input type="text" placeholder="Title" asp-for="Title">
    </label>
    <label>
      Description
      <input type="text" placeholder="Description" asp-for="Description">
    </label>
    <!--<textarea
      name="Description"
      placeholder="Write a description for your note..."
      aria-label="Description of note"
      asp-for="Description"
      >
    </textarea> --!>
  </fieldset>

  <button type="submit">Create/Edit</button>
</form>
