@{
    ViewData["Title"] = "Notes";
}

@model List<Note>

<div class="text-center">
    <h1 class="display-4">Notes</h1>
</div>

<br/>

<div class="grid">
  @{
    foreach (var note in Model)
    {
      <div>
	<article>
	  <header>
	    <strong>@note.Title</strong>
	  </header>
	  <p>
	    @note.Description
	  </p>
	</article>
      </div>
    }
    for (int i = 0; i < Model.Count - 5; i++)
    {
      <div>
      </div>
    }
  }
</div>
