@{
    ViewData["Title"] = "Notes";
}

@model List<Note>

<div class="grid">
  <div>
    <h1 class="display-4">Notes</h1>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div>
    <a asp-controller="Notes" asp-action="Create"><button>Create New+</button></a>
  </div>
</div>

<hr/>

  @{
    var start = 0;
    var count = 0;
    @if (Model.Count > 3)
    {	
      count = 3;
    }
    else
    {
      count = Model.Count;
    }
  }

  @if (Model.Count != 0) 
  {
    @while (start <= Model.Count)
    {
      <div class="grid">
	@foreach (var note in Model.Slice(start, count))
      	{
      	  <div>
      	    <article>
      	      <header>
      	        <strong>@note.Title</strong>
      	      </header>
      	      <p>
      	        @note.Description
      	      </p>
      	      <footer class="grid">
      	          <div></div>
      	          <div></div>
      	          <div></div>
      	          <div></div>
      	          <div></div>
      	          <div></div>
      	          <a asp-controller="Home" asp-action="Index"><i class="material-symbols-outlined">edit</i></a>
      	          <a asp-controller="Home" asp-action="Index"><i class="material-symbols-outlined" style="color:#861D13">delete</i></a>
      	      </footer>
      	    </article>
      	  </div>
      	}
      	@for (var i = count; i <= 3; i++)
      	{
      	  <div></div>
      	}
      	start += count;
      	@if (start + count >= Model.Count)
      	{
      	  count = (Model.Count - 1) - start;
      	}
      </div>
    }
  }
