@{
    ViewData["Title"] = "Notes";
}

@model List<Note>

<div class="grid">
  <div>
    <h1 class="display-4">Notes</h1>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div>
    <a asp-controller="Notes" asp-action="Create"><button>Create New+</button></a>
  </div>
</div>

<hr/>

<div class="grid">
  @{
    foreach (var note in Model)
    {
      <div>
	<article>
	  <header>
	    <strong>@note.Title</strong>
	  </header>
	  <p>
	    @note.Description
	  </p>
	  <footer class="grid">
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <div></div>
	      <a asp-controller="Home" asp-action="Index"><i class="material-symbols-outlined">edit</i></a>
	      <a asp-controller="Home" asp-action="Index"><i class="material-symbols-outlined" style="color:#861D13">delete</i></a>
	  </footer>
	</article>
      </div>
    }
    for (var i = 0; i <= (2 - Model.Count); i++)
    {
      <div>
      </div>
    }
  }
</div>
